ipch
*.opendb
*.exe
*.ilk
*.pdb
*.db
*.tlog
*.log
*.obj
*.idb
Plist/.vs/Plist/v15/.suo
*.enc
Markov_algorifm/.vs/Markov_algorifm/v15/.suo
Words_counting/Words_counting/.vs/Words_counting/v15/.suo
Words_counting/.vs/Words_counting/v15/.suo
BinaryTree/.vs/BinaryTree/v15/.suo
Rational/.vs/Rational/v15/.suo
Sector_container/.vs/Sector_container/v15/.suo
Time_format/.vs/Time_format/v15/.suo
GoogleTest/.vs/GoogleTest/v15/.suo
GoogleTest/.vs/GoogleTest/v15/Solution.VC.db-shm
GoogleTest/.vs/GoogleTest/v15/Solution.VC.db-wal
.gitattributes
GoogleTests/.vs/GoogleTests/v15/.suo
GoogleTests/GoogleTests.sln
GoogleTests/GoogleTests/Debug/GoogleTests.pch
GoogleTests/GoogleTests/Debug/GoogleTests.vcxproj.CopyComplete
GoogleTests/GoogleTests/GoogleTests.vcxproj
GoogleTests/GoogleTests/GoogleTests.vcxproj.filters
GoogleTests/GoogleTests/GoogleTests.vcxproj.user
GoogleTests/GoogleTests/packages.config
GoogleTests/GoogleTests/pch.cpp
GoogleTests/GoogleTests/pch.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-death-test.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-message.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-param-test.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-param-test.h.pump
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-printers.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-spi.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-test-part.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-typed-test.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest_pred_impl.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest_prod.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/custom/gtest-port.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/custom/gtest-printers.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/custom/gtest.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-death-test-internal.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-filepath.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-internal.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-linked_ptr.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-param-util-generated.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-param-util-generated.h.pump
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-param-util.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-port-arch.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-port.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-string.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-tuple.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-tuple.h.pump
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-type-util.h
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-type-util.h.pump
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.propertiesui.xml
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.targets
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest.lib
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest_main.lib
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest.lib
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest_main.lib
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest.lib
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest_main.lib
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest.lib
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest_main.lib
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/license (MIT).txt
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0.nupkg
GoogleTests/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/ThirdPartyNotices.txt
GoogleTests/GoogleTests/x64/Debug/GoogleTests.vcxproj.CopyComplete
GoogleTests/GoogleTests/x64/Debug/GoogleTests.pch
Plist/Debug/Plist.lib
GoogleTests/Debug/Markov_algorifm.lib
GoogleTests/Debug/Plist.lib
GoogleTests/Debug/Time_format.lib
GoogleTests/Debug/Words_counting.lib
