ipch
*.opendb
*.exe
*.ilk
*.pdb
*.db
*.tlog
*.log
*.obj
*.idb
Plist/.vs/Plist/v15/.suo
*.enc
Markov_algorifm/.vs/Markov_algorifm/v15/.suo
Words_counting/Words_counting/.vs/Words_counting/v15/.suo
Words_counting/.vs/Words_counting/v15/.suo
BinaryTree/.vs/BinaryTree/v15/.suo
Rational/.vs/Rational/v15/.suo
Sector_container/.vs/Sector_container/v15/.suo
Time_format/.vs/Time_format/v15/.suo
